body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #474ae6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 40px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
}

.input-group{
    margin-bottom: 25px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input:focus{
    outline: none;
    border-color: #4facfe;
}

.error{
    color: red;
    font-size: 13px;
}

.success{
    border-color: green;
}

.error-border{
    border-color: red;
}

button{
    width: 100%;
    padding: 10px;
    background: #3be783;
    border: none;
    color: rgb(5, 67, 236);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #00fb2a;
}
